*{
    box-sizing: border-box;
    margin: 0;
    padding-right: 0;
}.navbarNav{
    /* float: right; */
    display:flex;
    text-align: center;
    justify-content: center;
    padding-left: 50px;
}.collapse{
    display:flex;
    text-align: center;
    justify-content: center;
}.nav-item{
    font-weight: 20px;
    padding-right:50px ;
}.nav-link{
    color: aliceblue;
    font-size: 20px;
}.nav-link:hover{
    color: black;
}.nav-item:last-child{
    padding-right:10em;
}.navbar-brand{
    color: aliceblue;
    padding-left: 8rem;
    
}.logo{
    height: 30px;
    width: 60px;
    padding: 0;
    /* padding-left: 40px; */
}

header.container{
    overflow-x:hidden ;
}header{
    background-image: linear-gradient(red,black);
    /* height: 500px; */
    /* width: 100%; */
    color: #fff;
}.content{
    padding: 20vmin 1vmin;
    color: #fff;
}header h1{
    padding: 20px;
    font-size: 8vmin;
    font-weight: bold;
    color: linerg;
}header h6{
    padding: 10px;
}.section-1{
    background: red;
}.btn{
    border-radius: 30px;
    padding: 30px;
    font-weight: bold;
    background-image: linear-gradient(red,gold);
}.right img{
    border-radius: 30px;
    position: absolute;
    transform: rotate(45deg);
    top: 15px;
    left: -140px;
    max-width: 680px;
}.head{
    padding: 0;
    /* border: 2px solid red; */
    display: flex;
    text-align: center;
    justify-content: center;
    transform: rotate(-45deg);
    box-shadow: -15px 15px 15px rgba(0, 0,0, 0.2);
    right:-7% ;
    margin-top: 6rem;
}.right{
    /* border: 25px solid var(--color-primary); */
    background: rgb(212, 204, 204);
    padding: 0;
    height: 100%;
    width: 100%;
    border: 20px solid rgb(10, 10, 10);
    /* opacity: 0; */
    animation: zoomOut is ease forwards;
    animation-delay: 1.3s;
}


.section-1{
    padding: 20vmin 0;
    background-image: linear-gradient(black,red);
}.section-1.text-center{
    padding-bottom: 30px;
}.roll img{
    opacity: 0.8;
    width: 80%;
    border-radius: 0.5em;

}.col-md-6:last-child{
    position: relative;
    /* margin: 50px; */
   
}.panel{
    position: absolute;
    top: 14vmin;
    left: -23vmin;
    color: #fff;
    background-image: linear-gradient(rgb(37, 87, 22),rgba(150, 79, 21, 0.788));
    border-radius: 10px;
    text-align: left;
    padding: 20px 30px;
    text-align: center;
    margin-right: 40px;
    box-shadow: 0px 25px 42px rgba(0,0,0.alpha);
}.col-md-6 h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}
/* section 2 */


.cover h1{
    padding-top: 19vmin;
    background: none;
    color: #fff;
    padding-bottom: 0.5em;
    font-family:'Courier New', Courier, monospace;
}.cars{
    padding: 40px;
}.card{
    margin: 3vmin;
}.card div{
    background: rgba(208,241,241,1);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
    text-align: center;
    font-weight: bold;
}.card button{
    font-size: 3vmin;
    width:15vmin;
    border-radius: 3px;
    background-color: rgb(168, 146, 18);
}


.section-3{
    background-image: linear-gradient(red,black);
    text-align: center;

}.box-container{
    padding:20px;
}.box{
    border:5px solid rgb(224, 23, 23);
    padding: 40px 10px;
    text-align: center;
    background-color: rgb(225, 225, 231);
    color: #110f0f;
}.section-3 h1{
    color: #fff;
    padding: 50px 0;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}.section-3 a{
    padding: 10px;
    background-color: rgb(23, 23, 136);
    border-radius: 40px;
    color: #fff;
}.box:hover{
    background-color: rgb(144, 196, 196);
}


@media only screen and (max-width:780px){
    .navbar-brand{
        padding-left: 1rem;
    }.panel{
        position: initial;
        width: initial;
        height: initial;
        margin-left: 20px;
    }.head{
        transform: none;
        right: none;
        width: 100%;
    }.right img{
        position: relative;
        border-radius: none;
        transform: none;
        width: 100%;
        display: flex;
        text-align: center;
        left: 0;
    }
}   
@media only screen and (max-width:400px){
    .navbar-toggler{
       color:black;

    }
}   



@keyframes zoomOut {
    50%{
        transform:scale(0.1);
        opacity: 0;
    }100%{
        
        transform:scale(7);
        opacity: 1;
    }
}

